# Игнорировать виртуальные окружения Python
.venv/
env/
ENV/
venv/

# Игнорировать файлы, связанные с IDE
.idea/
.vscode/

# Игнорировать файлы компиляции Python
*.pyc
*.pyo
__pycache__/

# Игнорировать большие файлы данных
machinelearning/9module/archive/*.txt
machinelearning/9module/archive/*.csv

# Игнорировать папку ml-100k и все её содержимое
ml-100k/

# Игнорировать файлы LFS
*.psd
*.dmg

# Игнорировать другие временные файлы
*.log
*.tmp
*.bak

# Игнорировать конфигурационные файлы
*.config

# Игнорировать файлы систем
.DS_Store
Thumbs.db
